page-single-gallery {

	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
	    color: white;
	}

	.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
		color: white;
	}

	.toolbar {
		&-background-md {
			color: white;
			background: $light-black;
		}

		&-title-md {
			color: white;
		}
	}

	.content-md {
		background: $black;
		color: white;
	}

	.item-md {
		background: $black;
	}

	.item-md.item-block {
		padding-left: 1px;

		.item-inner {
			padding-right: 1px;
			border: none;

			.input-wrapper {
				margin-bottom: -1px;

				.label-md {
					margin: 1px;
				}
			}
			
		}
	}

}
