ion-post {
	.home {

		&__item {
			margin-top: $spacing;
			box-shadow: $shadow;

			h2 {
				font-weight: 500;
				margin-bottom: 10px;
				margin: 0;
				margin-bottom: 3px;	
				white-space: normal;
				line-height: 1.2;
			}

			&__smallImage {
				float: right;
				max-width: 90px;
				max-height: 90px;
				margin: 3*$spacing;
				border-radius: $border-radius;
				opacity: 0;
			}

			img {
				transition: opacity 600ms ease-out;

				&.ng2-lazyloaded {
					opacity: 1;
				}
			}

			ion-icon {
				display: inline-block;
				margin-right: 5px;
				font-size: 1.6rem;
			}

			&__content {
				padding: 3*$spacing;
			}

			&__date {
				color: $grey;
				clear: both;
			}

			&__category {
				color: $blue;
				text-transform: uppercase;
				font-weight: 500;
				margin-right: $spacing;
			}

			&__galleryCount {
				color: $grey;
				font-weight: 500;
				margin-right: $spacing;
			}
		}
	}


	.label-md {
		margin: 0;
	}

	.item-md {
		padding: 0;
	}

	.item-block .item-inner {
		border: none !important;
		padding-right: 0 !important;
	}
}
