<!-- Generated template for the IonPostComponent component -->
<button ion-item class="home__item">
	<img *ngIf="post.featured" [lazyLoad]="post.media.sizes.medium.source_url"/>
	<img class="home__item__smallImage" *ngIf="!post.featured && post.media" [lazyLoad]="post.media.sizes.medium.source_url"/>
	<div class="home__item__content {{post.type}}" >
		<h2><ion-icon *ngIf="post.type=='gallery'" name="photos"></ion-icon> {{post.title}}</h2>
		<small *ngIf="post.type!='gallery'" class="home__item__category" [innerHTML]="post.categories[0].name"></small>
		<small *ngIf="post.type=='gallery' && post.gallery_count" class="home__item__galleryCount">{{post.gallery_count}} photos</small>
		<small class="home__item__date" [innerHTML]="post.date | amCalendar:{lastWeek:'DD MMMM'}"></small>
	</div>
</button>