page-single-post {
	.has-refresher > .scroll-content {
		border-top: none;
	}

	.game__item {
		padding-top: 0;
		padding-bottom: 13px;
		box-shadow: none;
		border-bottom: 1px solid $medium-grey
	}

	.singlePost {
		&__date {
			color: $grey;
		}

		.card {
			&-content-md {
				padding: 15px;
			    font-size: 1.6rem;
			    line-height: 1.5;
			}

			&-title-md {
			    display: block;
			    margin: 0;
			    padding: 0;
			    line-height: 1.2;

				h1 {
					margin-top: 0;
					font-size: 2.8rem;
					font-weight: bold;
					width: 95%;
				}
			}
		}
	}

	.related__item {
		padding-left: 0;

		.item-inner{
			padding-right: 0 !important;
			border : none !important;

			ion-label {
				margin: 8px 0px 8px 0 !important;
			}
		}

		&__wrapper {
			display: inline-block;
			width: 120px;
    		height: 75px;
    		background-size: cover;
    		background-position: center center;
    		vertical-align: top;
    		margin-right: 5px;

    		& + .related__item__content {
    			width: calc(100% - 125px);
    		}
		}

		&__content {
			display: inline-block;
			white-space: initial !important;
			vertical-align: top;

			.related__item__date {
				color: $grey;
			}
		}

	}
}
