<ion-header>
	<ion-navbar>
		<ion-toolbar>
			<ion-buttons start>
				<button ion-button icon-only (click)="regularShare()">
					<ion-icon name="share"></ion-icon>
				</button>
			</ion-buttons>
			<ion-title *ngIf="post">{{post.categories[0].name}}</ion-title>
		</ion-toolbar>
	</ion-navbar>
</ion-header>

<ion-content *ngIf="post" class="singlePost">


	<div class="featured_image" *ngIf="post.media" [ngStyle]="{'background-image': 'url(' + post.media.sizes.medium.source_url + ')'}"></div>

	<ion-card-content>
		<ion-card-title>
			<h1 [innerHTML]="post.title"></h1>
		</ion-card-title>
		<small *ngIf="post.type!='gallery'" class="postItem__category" [innerHTML]="post.categories[0].name"></small>
		<small class="singlePost__date" [innerHTML]="post.date | amDateFormat: 'DD MMMM YYYY'"></small>
		<div [innerHTML]="post.content"></div>
	</ion-card-content>

	<ion-card-content class="singlePost__similarArticles" *ngIf="relatedPosts">
		<h3>Articles similaires</h3>

		<hr>

		<ion-list>
			<ion-post-small *ngFor="let post of relatedPosts" [post]="post" (click)="itemTapped($event, post)"></ion-post-small>
		</ion-list>
		
	</ion-card-content>


</ion-content>