<ion-header>
	<ion-navbar>
		<ion-toolbar>
			<ion-buttons start>
				<button ion-button icon-only (click)="regularShare()">
					<ion-icon name="share"></ion-icon>
				</button>
			</ion-buttons>
			<ion-title *ngIf="post">{{post.categories[0].name}}</ion-title>
		</ion-toolbar>
	</ion-navbar>
</ion-header>

<ion-content class="singlePost">

	<div *ngIf="post">
		
		<div class="featured_image" *ngIf="post.media" [ngStyle]="{'background-image': 'url(' + post.media.sizes.medium.source_url + ')'}"></div>
		
		<ion-match *ngIf="post.featured_match" [match]="post.featured_match"></ion-match>
		<ion-card-content>
			<ion-card-title>
				<h1 [innerHTML]="post.title"></h1>
			</ion-card-title>
			<small class="singlePost__date" [innerHTML]="post.date | amCalendar:{lastWeek:'DD/MM/YYYY'}"></small>
			<div [innerHTML]="post.content"></div>
		</ion-card-content>
		
		<ion-card-content class="singlePost__similarArticles" *ngIf="relatedPosts">
			<hr>

			<h3>Articles similaires</h3>

			<ion-list>
				<ion-post-small *ngFor="let post of relatedPosts" [post]="post" (click)="itemTapped($event, post)"></ion-post-small>
			</ion-list>

		</ion-card-content>
	</div>

</ion-content>