page-single-post {

	hr {
		margin-bottom: 3*$spacing;
	}

	.has-refresher > .scroll-content {
		border-top: none;
	}

	.game__item {
		box-shadow: none;
		border-bottom: 1px solid $medium-grey;
	}

	.singlePost {
		&__similarArticles {
			h2 {
				margin: 0px;
			}

			h3 {
				margin-top: 0;
				margin-bottom: 2*$spacing;
			}
		}

		.featured_image {
			height: 350px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&__date {
			color: $grey;
		}

		.card {
			&-content-md {
				padding: 15px;
				font-size: 17px;
				line-height: 27px;

				h4 {
					font-family: $title-font;
					text-transform: uppercase;
					margin: 0;
					margin-top: 6*$spacing;
					line-height: 25px;
					font-size: 22px;
					letter-spacing: 0.3px;

					& + p {
						margin-top: 2*$spacing;
					}
				}
			}

			&-title-md {
				display: block;
				margin: 0;
				padding: 0;
				line-height: 1.2;

				h1 {
					margin: 0;
					width: 95%;
					margin-top: $spacing;
					margin-bottom: 0;
				}

			}
		}
	}
}
