  <div class="game__item">

    <ion-grid>
     <ion-row *ngIf="recap" >
      <ion-col col-12 text-center>
        {{ match.title }}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!recap" class="game__item__meta">
      <ion-col col-6 text-left>
        {{ match.date | amCalendar:{lastWeek:'DD/MM/YYYY'} }}
      </ion-col>

      <ion-col col-6 text-right>
        {{ match.competition.name }} <span *ngIf="match.round_number"> — J{{match.round_number}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 text-center class="teams__content__wrapper">
        <img *ngIf="match.home_team.club.logo_url" [src]="match.home_team.club.logo_url" alt="{{ match.home_team.club.name }}">
        <h3>{{ match.home_team.club.name }}</h3>
      </ion-col>
      <ion-col col-4 text-center padding-vertical>
       <div class="game__item__score" *ngIf="match.played"><span>{{ match.home_score }}</span><span>{{ match.away_score }}</span></div>
       <span class="game__item__date" *ngIf="!match.played">{{ match.date | amDateFormat:'HH:mm' }}</span>
     </ion-col>
     <ion-col col-4 text-center class="teams__content__wrapper">
      <img *ngIf="match.away_team.club.logo_url" [src]="match.away_team.club.logo_url" alt="{{ match.away_team.club.name }}">
      <h3>{{ match.away_team.club.name }}</h3>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="recap" class="game__item__meta">
    <ion-col col-12 text-center>
      {{ match.competition.name }} &bull; {{match.date | amDateFormat:'ddd Do MMMM • HH:mm'}}
    </ion-col>
  </ion-row>
</ion-grid>
</div>
