<div class="game__item">
	<div class="game__item__meta competition">
    <span *ngIf="recap">{{ match.title }}</span>
    <span *ngIf="!recap">{{ match.competition.name }}</span>
  </div>

  <div class="teams__content" [ngClass]="{'won' : (match.result == 'GA'), 'loose' : (match.result == 'PE')}">

    <div class="teams__content__wrapper">
     <img [src]="match.home_team.club.logo_url" alt="Logo équipe domicile">
     <h3>{{ match.home_team.club.name }}</h3>
   </div>

   <span *ngIf="match.played">{{ match.home_score }} - {{ match.away_score }}</span>
   <div class="game__item__date" *ngIf="!match.played">{{ match.date | amDateFormat:'HH:mm' }}</div>

   <div class="teams__content__wrapper">
     <img [src]="match.away_team.club.logo_url" alt="Logo équipe extérieure">
     <h3>{{ match.away_team.club.name }}</h3>
   </div>

 </div>
 <div class="game__item__meta date">
   <span *ngIf="recap">{{ match.competition.name }} — {{ match.date | amCalendar:{lastWeek:'DD/MM/YYYY'} }}</span>
   <span *ngIf="!recap && match.weather_temp">{{ match.date | amCalendar:{lastWeek:'DD/MM/YYYY'} }} — {{ match.weather_temp }}° {{ match.weather_phrase }} <img [src]="'https://api-beta.usmontagnarde.fr/weather/icon/'+match.weather_icon+'?color=%23B1B1B1'" alt=""></span>  	
   <span *ngIf="!recap && !match.weather_temp">{{ match.date | amCalendar:{lastWeek:'DD/MM/YYYY'} }}</span>
 </div>
</div>
