page-live {
	ion-label {
		div.live__item__content {
			white-space: pre-line;
		}
		
		ion-avatar, h2 {
			display: inline-block;
			vertical-align: top;
		}
	}

	.live {

		&__item {
			h2 {
				margin-top: 0;

				span {
					color: $grey;
				}
			}

			header {
				margin-bottom: 2*$spacing;
			}

			img {
				border-radius: 3px;

				&.facebook {
					margin-top: 20px;
				}

				&.instagram {
					margin-bottom: $spacing;
				}
			}

			&__content {
				line-height: 1.4;
				font-size: 1.5rem;

				&.instagram {
					font-size: 1.4rem;
				}
			}

			&__share {
				margin-top: 20px;
			}

			&__likes {
				color: $grey;
				font-size: 1.2rem;
				font-weight: bold;
				margin-top: 2*$spacing;

				ion-icon {
					margin-right: 2px;
					font-size: 1.2rem;
				}
			}
		}
	}

	.has-refresher > .scroll-content {
		border-top: none;
	}

	.content-md {
		background: $light-blue;
	}

	.item-md {
		padding: 3*$spacing;
		margin-top: $spacing;
		box-shadow: $shadow;

		&:last-child {
			margin-bottom: 3*$spacing;
		}
	}

	.label-md {
		margin: 0;
	}

	.item-md.item-block .item-inner {
		padding-right: 0;
		border: none;
	}

	.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
		margin: 0 2*$spacing 0 0;
	}
}
