<ion-header>
  <ion-navbar>
    <ion-title>Live</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="live">

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<div (click)="itemTapped($event, post)" class="live__item" ion-item *ngFor="let post of social_items">
		<header>
			<ion-avatar item-left>
				<img [src]="post.social.owner.image">
			</ion-avatar>
			<h2 [innerHTML]="post.social.owner.user"></h2>
		</header>
		<img *ngIf="post.social.image" [src]="post.social.image.url">
		<div class="live__item__content" [innerHTML]="post.social.text"></div>
	</div>
</ion-content>