page-home {
	.home {

		&__item {
			margin-top: 15px;
			box-shadow: 0 4px 5px 0 rgba(0,0,0,0.02), 0 1px 10px 0 rgba(0,0,0,0.02), 0 2px 4px -1px rgba(0,0,0,0.02);

			h2 {
				font-weight: 500;
				margin-bottom: 10px;
			}

			img {
				opacity: .98;
			}

			&__content {
				padding: 12px 15px 15px 15px;
			}

			&__date {
				color: $grey;
				margin-right: 5px;
			}

			&__category {
				color: $red;
			}
		}
	}

	.has-refresher > .scroll-content {
		border-top: none;
	}

	.content-md {
		background: $light-blue;
	}

	.list-md {
    margin: 15px 0 15px 0;
}

	.list-md .item-block .item-inner {
		border: none;
		padding-right: 0;
	}	

	.label-md {
	    margin: 0;
	}

	.item-md {
		padding: 0;

		h2 {
		    margin: 0;
		    margin-bottom: 3px;	
		    font-weight: 500;
		}
	}
}
