<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Actualités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    
    <ion-slides *ngIf="matchs && matchs[0].live == false" pager>
      <ion-slide *ngFor="let match of matchs">
        <ion-match recap="true" [match]="match"></ion-match>
      </ion-slide>
    </ion-slides>
    
    <ion-match-live *ngIf="matchs && matchs[0].live == true" [match]="matchs[0]"></ion-match-live>  

    <ion-post *ngFor="let post of items" [post]="post" (click)="itemTapped($event, post)"></ion-post>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>