page-home {
	ion-slide {
		padding-bottom: 20px;
		background: white;
		width: 100% !important;
	}

	.slides {
		background-color: white;
		box-shadow: $shadow;
	}

	.swiper-pagination-bullet-active {
		background: #A2A2A2;
	}

	.has-refresher > .scroll-content {
		border-top: none;
	}

	.content-md {
		background: $light-blue;
	}

	.list-md {
		margin: $spacing 0 $spacing 0;
	}

}
