<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Actualités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button class="home__item" ion-item *ngFor="let post of items" (click)="itemTapped($event, post)">
    <img *ngIf="post.featured_media" [lazyLoad]="post.featured_media.sizes.slide.source_url"/>
      <div class="home__item__content">
        <h2 [innerHTML]="post.title.rendered"></h2>
        <small class="home__item__date" [innerHTML]="post.date | amCalendar:{lastWeek:'DD/MM/YYYY'}"></small>
        <small class="home__item__category" [innerHTML]="post.categories[0].name"></small>
      </div>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>