<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Actualités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let post of items" (click)="itemTapped($event, post)">
    <img *ngIf="post.featured_media" [src]="post.featured_media.sizes.slide.source_url"/>
      <h2 [innerHTML]="post.title.rendered"></h2>
      <small style="color:red;margin-right: 10px" [innerHTML]="post.categories[0].name"></small>
      <small [innerHTML]="post.date"></small>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>