// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

img {
	width: 100%;
	height: auto;
}


.toolbar {

  &-background-md {
    background: $blue;
  }

  &-title-md {
    color: #fff;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
  }

  .toolbar .bar-button-default-md, .toolbar .bar-button-clear-md-default, .toolbar .bar-button-md-default, .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: rgba(255, 255, 255, .8);
  }
}

.tabsDark {
  .tabbar {
    background: $light-black;
  }

  .tab-button {
    color: rgba(255, 255, 255, .4);

    &-icon {
      color: rgba(255, 255, 255, .4);
    }
  }
}

//structure.scss
scroll-content {
  // existing css
    &:before,
    &:after {
      content: '';
      height: 1px;
      position: absolute;
      width: 1px;
    }

    &:before {
      bottom: -1px;
    }

    &:after {
      top: -1px;
    }
}