<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <ion-title>Recherche</ion-title>

      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
      <ion-searchbar #searchBar
        [(ngModel)]="searchQuery"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)" placeholder="Tapez un ou des mots-clés">
      </ion-searchbar>
    </ion-toolbar>

  </ion-navbar>
</ion-header>

<ion-content>

  
  <ion-list *ngIf="!items"> 
    <button ion-item *ngFor="let post of searchHistory" (click)="historyTapped($event, post)">
      <h2 [innerHTML]="post.title"></h2>
    </button>
  </ion-list>

  <ion-list> 
    <button ion-item *ngFor="let post of items" (click)="postTapped($event, post)">
    <img *ngIf="post.featured_media" [lazyLoad]="post.featured_media.sizes.slide.source_url"/>
      <h2 [innerHTML]="post.title.rendered"></h2>
      <small style="color:red;margin-right: 10px" [innerHTML]="post.categories[0].name"></small>
      <small [innerHTML]="post.date"></small>
    </button>
  </ion-list>

</ion-content>