<ion-header>
  <ion-navbar>
    <ion-title>Photos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="singleGallery">
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button ion-item *ngFor="let post of items" (click)="itemTapped($event, post)">
      <div class="singleGallery__thumbnail">
        <img *ngIf="post.featured_media" [lazyLoad]="post.featured_media.sizes.slide.source_url"/>
      </div>
      <div class="singleGallery__content">
        <h2 [innerHTML]="post.title.rendered"></h2>
        <small class="singleGallery__category" [innerHTML]="post.gallery_count + ' photos'"></small>
        <small class="singleGallery__date" [innerHTML]="post.date | amCalendar:{lastWeek:'DD/MM/YYYY'}"></small>
      </div>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>